.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Important so absolute buttons position properly */
  overflow: hidden; /* Prevent images from overflowing */
}
.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 1199px) {
  .carousel img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  .carousel {
    height: 100%; /* or a responsive value like 50vh */
  }
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0.7;

  transition: opacity 0.5s ease-in-out;
}

.carousel-button.left {
  left: 1rem;
}

.carousel-button.right {
  right: 1rem;
}
