---
---
<!DOCTYPE HTML>
<html>

	{% include head.html %}

	<body class="no-cover-image">
		<!--Navigation-->
		{% include nav.html %}

		<div style="height:4em;"></div>

		<!--Content Container-->
		<div class="column-flex center-vertically-flex page-content">
			<div class="column-flex" style="max-width: 40em;">
				<h1 class="center-vertically-self-flex">What we value</h1>
				<p>
				To have a successful team, you must have different values that you believe make a team successful, and use to inform your actions.
				Our team values many components that are necessary for seamless teamwork.
				We have various different values such as honesty, respect, openness, and more.
				The decisions we make are based on these values and beliefs, which result in a strong and dedicated team.
				</p>
			</div>
			
			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">Respect</h2>
				<p>
				<i><q>Treat others the way you want to be treated.</q></i>
				<br>
				This quote drives our interactions with others on our team.
				We respect all our team members and treat them with kindness, and never look down on them.
				</p>
			</div>
			
			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">Honesty</h2>
				<p>
				Honesty is extremely beneficial because it helps a person conquer problems and excel in all of their adventures.
				Honesty is what helps us build relationships with our members and expose our true self to each other.
				Being honest with each other allows us to form a connection with our team mates. 
				</p>
			</div>
			
			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">Openness</h2>
				<p>
				We value openness because it is something that can truly show others someone’s personality and their ideas.
				As a general rule, we don’t hold ideas and opinions back from each other so that we can collaborate more effectively.
				</p>
			</div>
			
			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">Teamwork</h2>
				<p>
				Teamwork is a necessary skill because a project always has many different roles and they all have to be achieved to their best.
				We all have different skills, and when we work together with these skills, we are capable of achieving greatness.
				</p>
			</div>
			
			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">Accountability</h2>
				<p>
				Accountability allows us to create a stronger team and stronger individuals.
				With accountability, we are able to stay on progress and continue to create something great. 
				</p>
			</div>
			
			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">Learning</h2>
				<p>
				When we learn, we acquire knowledge that can be very useful for activities.
				Learning is very important because it helps us gain knowledge and wisdom and to be a better team member.
				It can help us discover and build better things. We teach the rookies of our team everything we know, so that they can use that knowledge for the better.
				</p>
			</div>
			
			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">Commitment</h2>
				<p>
				Being a member of 5431 means that everyone have a role that makes this team better and allows us to fulfill our goals.
				We must live up to our word and put in 110% on everything that we do.
				Everyone on this team has a purpose, to do great things for this team.
				</p>
			</div>
			
			<h1 class="center-vertically-self-flex">History of our Team</h1>
			
			<!-- 2015 -->

			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">2015</h2>
				<p>
				Titan Robotics was founded in 2014 and we first participated in the 2015 FRC season.
				In our first year as a team, we had no experience in robotics, few sponsors, mentors, and students.
				In the 2015 season, we won the Rookie All-Star Award, an award given to the most promising new team at a regional competition.
				This award is not only for building a winning robot but also for excelling at other aspects of the competition, like community outreach and education.
				This award won us a spot at the 2015 world championships.
				</p>
			</div>
			
			<img class="full-width-image"src="/img/about/2015/NewBotOnTheBlock.jpg"alt="2015 New Bot On The Block">
			<img class="full-width-image"src="/img/about/2015/Working.jpg"alt="Working on New Bot On The Block">
			
			<div style="height: 3em;"></div>

			<!-- 2016 -->

			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">2016</h2>
				<p>
				In our second year, we were finalists at the Dallas and Houston regionals.
				We won our spot to Championships at the Lone Star Regional in Houston.
				At Championships, we placed 16th out of 75 in our division at Championships.
				Throughout the season, over 50,000 people from across the world watched us compete.
				</p>
			</div>
			
			<img class="full-width-image"src="/img/about/2016/Chronos.jpg"alt="2016 Chronos">
			<img class="full-width-image"src="/img/about/2016/Team-2016.jpg"alt="2016 Team">

			<!-- 2017 -->

			<div class="column-flex" style="max-width: 40em;">
				<h2 class="center-vertically-self-flex">2017</h2>
				<p>
				In our third year during 2017, we competed at the Dallas and Waco regionals, and were waitlisted into World Championships.
				At each competition we ended in Quarter finals.
				During the off season, we competed in TRI were we were eliminated during quarterfinals.
				During TRR, we made it to semifinals and were awarded with Team Spirit Award.
				In cooperation with Chain Reaction, we hosted our own off-season event, The North Texas Tournament of Robotics.
				</p>
			</div>
			
			<img class="full-width-image"src="/img/about/2017/Thrice.jpg"alt="2017 Thrice">
			<img class="full-width-image"src="/img/about/2017/Team-Hopper.jpg"alt="2017 Team at Hopper Field">
		</div>

		{% include footer.html %}

	</body>
</html>
