---
---
<!DOCTYPE HTML>
<html lang="en-US">

	<head>
		{% include head.html %}
		
		<meta property="og:title" content="About FRC 5431 Titan Robotics" />
		
		<meta name="description" content="About FRC 5431 Titan Robotics"/>
		
		<title>ABOUT | 5431 TITAN ROBOTICS</title>
	</head>

	<body class="no-cover-image">
		<!--Navigation-->
		{% include nav.html %}

		<div style="height:4em;"></div>

		<!--Content Container-->
		<div class="page-content">
			<div class="page-section" >
				<h1 class="center-vertically-self-flex">What we value</h1>
				<p>
				To have a successful team, you must have different values that you believe make a team successful, and use to inform your actions.
				Our team values many components that are necessary for seamless teamwork.
				We have various different values such as honesty, respect, openness, and more.
				The decisions we make are based on these values and beliefs, which result in a strong and dedicated team.
				</p>
			</div>
			
			<div class="page-section" >
				<h2 class="center-vertically-self-flex">Respect</h2>
				<p>
				<i><q>Treat others the way you want to be treated.</q></i>
				<br>
				This quote drives our interactions with others on our team.
				We respect all our team members and treat them with kindness, and never look down on them.
				</p>
			</div>
			
			<div class="page-section" >
				<h2 class="center-vertically-self-flex">Honesty</h2>
				<p>
				Honesty is extremely beneficial because it helps a person conquer problems and excel in all of their adventures.
				Honesty is what helps us build relationships with our members and expose our true self to each other.
				Being honest with each other allows us to form a connection with our team mates. 
				</p>
			</div>
			
			<div class="page-section" >
				<h2 class="center-vertically-self-flex">Openness</h2>
				<p>
				We value openness because it is something that can truly show others someone’s personality and their ideas.
				As a general rule, we don’t hold ideas and opinions back from each other so that we can collaborate more effectively.
				</p>
			</div>
			
			<div class="page-section" >
				<h2 class="center-vertically-self-flex">Teamwork</h2>
				<p>
				Teamwork is a necessary skill because a project always has many different roles and they all have to be achieved to their best.
				We all have different skills, and when we work together with these skills, we are capable of achieving greatness.
				</p>
			</div>
			
			<div class="page-section" >
				<h2 class="center-vertically-self-flex">Accountability</h2>
				<p>
				Accountability allows us to create a stronger team and stronger individuals.
				With accountability, we are able to stay on progress and continue to create something great. 
				</p>
			</div>
			
			<div class="page-section" >
				<h2 class="center-vertically-self-flex">Learning</h2>
				<p>
				When we learn, we acquire knowledge that can be very useful for activities.
				Learning is very important because it helps us gain knowledge and wisdom and to be a better team member.
				It can help us discover and build better things. We teach the rookies of our team everything we know, so that they can use that knowledge for the better.
				</p>
			</div>
			
			<div class="page-section" >
				<h2 class="center-vertically-self-flex">Commitment</h2>
				<p>
				Being a member of 5431 means that everyone have a role that makes this team better and allows us to fulfill our goals.
				We must live up to our word and put in 110% on everything that we do.
				Everyone on this team has a purpose, to do great things for this team.
				</p>
			</div>
			
			<h1 class="center-vertically-self-flex">History of our Team</h1>
			
			<!-- 2015 -->

			<div class="page-section" >
				<h2 class="center-vertically-self-flex">2014</h2>
				<p>
				Titan Robotics got its start in the fall of 2014 as a small but inspired group of learners.
				Mrs. Haley Bolton, computer science facilitator, coached the first BEST Robotics team and the 
				FRC team began under the direction of Academy High School mathematics facilitator,
				Mrs. Stephanie Burnham, computer science facilitator Mrs. Bolton, and physics facilitator, Mr. Mark Kinney.
				</p>
			</div>

			<div class="page-section" >
				<h2 class="center-vertically-self-flex">2015</h2>
				<p>
				On January 8th, 2015, we celebrated the FIRST Kickoff of the Recycle Rush with a webcast viewing party at Texas Instruments.
				The inaugural Build Season was in full swing, with the team meeting after school and on weekends for 20+ hours per week.
				After bagging and tagging the result of our labors, we traveled to the Dallas Regionals to compete at the Irving Convention Center.
				Our first year team was the highest-seeded Rookie Team (10th place)  and brought home the Rookie All-Star Award and the opportunity
				to compete at the FIRST World Championships in April in St. Louis, MO.
				The team competed on Carver field and completed qualifying rounds in 26th place.
				Titan Robotics was selected by alliance captain team 971, Spartan Robotics, team 1717, D’Penguineers, and team 2834 The Bionic Black Hawks.
				The alliance made it into the semifinal round yet was plagued by field connection issues.
				An inspiring trip to St. Louis energized Titan Robotics to strive for tremendous team experiences on and off of the competition field.
				</p>
			</div>
			
			<img class="left-side-image"src="/img/about/2015/NewBotOnTheBlock.jpg"alt="2015 New Bot On The Block"><img class="right-side-image"src="/img/about/2015/Working.jpg"alt="Working on New Bot On The Block">
			
			<div style="height: 3em;"></div>

			<!-- 2016 -->

			<div class="page-section" >
				<h2 class="center-vertically-self-flex">2016</h2>
				<p>
				Mrs. Burnham and Mr. Kinney remained with the team as coaches for the 2015-2016 school year and were joined by Mr. Michael Hardy.
				The school year began with earning 3rd place finish in the BEST robotics challenge “Pay Dirt” and earning the Nick Nickleby Sportsmanship 
				award at the CoCo BEST event held at Prosper High School.
				<br>
				FRC kickoff brought us “Stronghold” and many long hours in the fab lab.
				Iron Titans for the 2016 season logged hundreds of hours in the fab lab and in programming!
				2016 also brought us a great leap of faith when a late major revision to the robot design triggered 
				a new robot build with less than 2 weeks before bag and tag.
				<br>
				It was time well spent as the team went on to finish as finalists both at the Dallas Regional and at the Lone Star Regional 
				which secured a wildcard berth to the World Championships in St. Louis, MO. 
				In addition, 5431 won the Imagery Award which “celebrates attractiveness in engineering and outstanding visual aesthetic 
				integration of machine and team appearance” at the Dallas Regional, and the Team Spirit award at the Lone Star Regional.
				Using the district scoring formula, Titan Robotics finished the competition season as the 6th highest ranking FRC team in the state.
				Our second consecutive trip to the World Championships in St. Louis concluded with team 5431 in 16th place following the qualifying matches.
				2016 also marked the team’s first foray into post-season events with an invitation to the Texas Robotics Invitational in Houston and Texas Robot Roundup in Austin.
				</p>
			</div>
			
			<img class="left-side-image"src="/img/about/2016/Chronos.jpg"alt="2016 Chronos"><img class="right-side-image"src="/img/about/2016/Team-2016.jpg"alt="2016 Team">

			<!-- 2017 -->

			<div class="page-section" >
				<h2 class="center-vertically-self-flex">2017</h2>
				<p>
					During the 2017 STEAMWorks season, we developed our current team leadership structure and built not one, but eight robots over the course of the season.
					The STEAMWorks challenge offered three different main tasks, from collecting fuel, to placing gears, and climbing a rope.
					We made it to quarterfinals in the Dallas and Waco regionals and got wildcarded to FIRST Championship. There, we competed on Hopper field and made it to quarterfinals.
					<br>
					In the offseason, we attended the <a href="http://spectrum3847.org/tri/">Texas Robotics Invitational</a> and <a href="http://firstintexas.org/uil/state-championship/">Texas Robot Roundup</a>
					events. During the start of October, we helped host our own event - <a href="https://www.ntxrobotics.com/">NTX Robotics.</a> 
					<br>
					During this year, our team changed significicantly. Coach Eaddy joined the team alongside Coach Hardy and Coch Burnham. The team almost doubled in size as we got
					a large influx of new rookies to train. Our team went through much growth, and although it was not easy, it made us who we are today.
				</p>
			</div>
			
			<img class="left-side-image"src="/img/about/2017/Thrice.jpg"alt="2017 Thrice"><img class="right-side-image"src="/img/about/2017/Team-Hopper.jpg"alt="2017 Team at Hopper Field">
		</div>

		{% include footer.html %}

	</body>
</html>
