---
---
<!DOCTYPE HTML>
<html lang="en-US">

	<head>
		{% include head.html %}
		
		<meta property="og:title" content="FRC 5431 Titan Robotics Blog" />
		
		<meta name="description" content="FRC 5431 Titan Robotics Blog" />
		
		<title>BLOG | 5431 TITAN ROBOTICS</title>
	</head>

    <body class="no-cover-image">
        <!--Navigation-->
        {% include nav.html %}

        <div style="height:4em;"></div>

        <!--Content Container-->
        <div class="page-content">

            <!-- Blog -->

            <div class="page-section" >
                <h1 class="center-vertically-self-flex">Blog</h1>
                <p>
                Welcome to our blog! Here we post updates on how we’re doing in competition, on our robot, and on our team.
                You can also comment and asks questions on our forum!
                </p>
            </div>
            
            {% for post in site.posts %}
                <article class="post">
                
                    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
                    
                    <div class="entry">
                        {{ post.excerpt }}
                    </div>
                    
                    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
                </article>
            {% endfor %}
        </div>
        {% include footer.html %}
    </body>
</html>
