---
---
<!DOCTYPE HTML>
<html lang="en-US">

	<head>
		{% include head.html %}
		
		<meta property="og:title" content="Contact FRC 5431 Titan Robotics" />
		
		<meta name="description" content="Contact FRC 5431 Titan Robotics"/>
		
		<title>CONTACT | 5431 TITAN ROBOTICS</title>
	</head>

    <body class="no-cover-image">
        <!--Navigation-->
        {% include nav.html %}

        <div style="height:4em;"></div>

        <!--Content Container-->
        <div class="page-content">

            <div class="page-section" >
                <h1 class="center-vertically-self-flex">Contact</h1>
                <p>
                Feel free to contact or follow us on our social media!
                </p>
                <p>
                    Twitter:
                    <a href="https://twitter.com/5431frc"target="_blank">@5431frc</a>
                </p>
                <p>
                    Facebook:
                    <a href="https://www.facebook.com/frcteam5431/"target="_blank">@frcteam5431</a>
                </p>
                <p>
                    Youtube:
                    <a href="https://www.youtube.com/channel/UCCItxf-ebmkhl8T0g7U7k8Q"target="_blank">5431 Youtube</a>
                </p>
                <p>
                    Instagram: 
                    <a href="https://www.instagram.com/frc5431/"target="_blank">@frc5431 Instagram</a>
                </p>
                <p>
                    Github:
                    <a href="https://www.github.com/frc5431"target="_blank">frc5431</a>
                </p>
                <p>
                    Email:
                    <a href="mailto:frc5431@gmail.com">frc5431@gmail.com</a>
                </p>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
