---
---
<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body>
        <!--Navigation-->
        {% include nav.html %}

        <!--Banner-->
        <div id="home-banner" class="home-banner"></div>

        <!--Content Container-->
        <div class="column-flex center-vertically-flex page-content">

            <div class="column-flex" style="max-width: 40em;">
                <h1 class="center-vertically-self-flex">Contact</h1>
                <p>
                Contact us or something
                </p>
                <a href="https://twitter.com/5431frc"><div class="sm sm-tw"></div></a>
                <a href="https://www.facebook.com/frcteam5431/"><div class="sm sm-fb"></div></a>
            </div>
        </div>
        <script src="scroll.js"></script>
    </body>
</html>
