---
---
<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body>
        <!--Navigation-->
        {% include nav.html %}

        <!--Banner-->
        <div id="home-banner" class="home-banner"></div>

        <!--Content Container-->
        <div class="column-flex center-vertically-flex page-content">

            <!-- Blog -->

            <div class="column-flex" style="max-width: 40em;">
                <h1 class="center-vertically-self-flex">Events</h1>
                <p>
                The event calendar shows you when and where we host events.
                We do community service at various places, and host FLL and FTC. 
                </p>
            </div>
        </div>
        <script src="scroll.js"></script>
    </body>
</html>
