---
---
<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body>
        <!--Navigation-->

        {% include nav.html %}
        
        <style>
            body {
                background-color: #001331;
            }
            #toggle:checked ~ .nav .nav-item{
                color: white;
            }
            .button-toggle:before, .button-toggle:after{
                background-color: white;
            }
            .nav-item:before{
                background-color: white;
            }
        </style>

        <!--Banner-->
        <div id="home-banner" class="home-banner"></div>

        <!--Content Container-->
        <div class="column-flex center-vertically-flex page-content">

            <!--About-->

            <div class="column-flex max-width-40em">
                <h1 class="center-vertically-self-flex">About FRC 5431</h1>
                <p style="font-size: 1.5em; text-align: center;"><strong>TITAN ROBOTICS</strong> strives to develop student leaders by collaborating to solve complex problems.</p>
                <p>We participate in the FIRST program, where we are team number 5431. FIRST stands for For Inspiration and Recognition of Science and Technology. It was created to inspire students of all levels to understand, use, and enjoy science and technology. Today, 90% of FIRST alumni are pursuing a career in STEM fields.</p>
                <p>Titan Robotics was founded in 2014 at the Plano ISD Academy High School in Texas. We have competed in the 2015, 2016, and 2017 FIRST Robotics Competition Seasons and competed at Championships all three years. </p>
            </div>
            
            <img class="full-width-image"src="/img/home/Team.jpg"alt="Team Picture 2017">
        </div>

        {% include footer.html %}

        <script src="scroll.js"></script>
    </body>
</html>
