---
---
<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body>
        <!--Navigation-->
        {% include nav.html %}

        <!--Banner-->
        <div id="home-banner" class="home-banner"></div>

        <!--Content Container-->
        <div class="column-flex center-vertically-flex page-content">

            <!-- Photos  -->

            <div class="column-flex" style="max-width: 40em;">
                <h1 class="center-vertically-self-flex">Photos</h1>
                <p>
                These are photos of all the fun we’ve had over the years.
                </p>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
