---
---
<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body>
        <!--Navigation-->
        {% include nav.html %}

        <!--Banner-->
        <div id="home-banner" class="home-banner"></div>

        <!--Content Container-->
        <div class="column-flex center-vertically-flex page-content">

            <!-- 2015 -->

            <div class="column-flex" style="max-width: 40em;">
                <h1 class="center-vertically-self-flex">News</h1>
                <p>
                Here we post big news regarding FRC and our team.
                </p>
            </div>
            <div style="height: 3em;"></div>
        </div>
        {% include footer.html %}
    </body>
</html>
