# To have a domain, replace localhost:{$FRONTEND_PORT} with {$DOMAIN} and have
# DOMAIN=whatever.com be in your root .env gaming

:{$FRONTEND_PORT} {
	root * /srv/frontend
	encode
	file_server

    handle_path /api/* {
        reverse_proxy backend:{$BACKEND_PORT}
    }

    @assets {
        path_regexp assets \.(js|css|woff2|ttf|eot|svg|avif|webp|ico|jpg|jpeg|png|gif|mp4|webm)$
    }
    header @assets {
      Cache-Control "public, max-age=31536000, immutable"
    }

    @html {
        path *.html
    }
    header @html {
        Cache-Control "public, max-age=0, must-revalidate"
    }

    handle {
        try_files {path} /index.html
    }

    # log {
    #     output stdout
    #     format json
    # }
}