#root {
    /* background: black; */
    touch-action: manipulation;
    background-image: url("src/assets/img/universal/background memories.jpg");
    background-repeat: repeat;
    background-size: contain;
}

.memories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.year-title {
    font-size: 5rem;
    color: #3c0370;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 12rem;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(43, 2, 80, 0.3);
    letter-spacing: 1px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.year-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.travelbutton {
    background: linear-gradient(135deg, #3182ce, #2c5282); /* Blue gradient */
    border: none;
    border-radius: 16px;
    color: white;
    text-align: center;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.travelbutton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.year-button {
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

/* Progress bar styles */
.progress-container {
    width: 300px;
    margin: 20px 0;
}

.progress-bar {
    position: relative;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    ;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #02204E, #8B1FEA);
    border-radius: 5px;
    transition: width 0.3s ease;
}

.progress-marker {
    position: absolute;
    top: -3px;
    width: 16px;
    height: 16px;
    background-color: #8B1FEA;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
}

.button-container {
    margin-top: 20px;
}