<div class="footer">
    <div class="column-flex">
        <img src="/img/universal/LogoWhite.svg"alt="FRC 5431 White Logo">
        <div class="row-flex center-flex footer-social-media">
            <a href="https://www.twitter.com/5431frc" target="_blank"><img draggable="false" src="/img/universal/twitter.svg"alt="Twitter Logo"></a>
            <a href="https://www.youtube.com/channel/UCCItxf-ebmkhl8T0g7U7k8Q" target="_blank"><img draggable="false" src="/img/universal/youtube.svg"alt="Youtube Logo"></a>
            <a href="https://www.facebook.com/frcteam5431/" target="_blank"><img draggable="false" src="/img/universal/facebook.svg"alt="Facebook Logo"></a>
        </div>
    </div>
</div>
