<div class="footer">
    <div class="column-flex">
        <img src="/img/universal/LogoWhite.svg">
        <div class="row-flex center-flex footer-social-media">
            <a href="https://www.twitter.com/5431frc" target="_blank"><img draggable="false" src="/img/universal/twitter.svg"></a>
            <a href="https://www.youtube.com/channel/UCCItxf-ebmkhl8T0g7U7k8Q" target="_blank"><img draggable="false" src="/img/universal/youtube.svg"></a>
            <a href="https://www.facebook.com/frcteam5431/" target="_blank"><img draggable="false" src="/img/universal/facebook.svg"></a>
        </div>
    </div>
</div>
