<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="theme-color" content="#00AEED">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#00AEED">
<meta name="apple-mobile-web-app-title" content="FRC 5431">

<meta http-equiv="cleartype" content="on">

<meta name="application-name" content="FRC 5431">
<meta name="msapplication-tooltip" content="FRC 5431">

<meta name="msapplication-allowDomainApiCalls" content="true">
<meta name="msapplication-allowDomainMetaTags" content="true">
<meta name="msapplication-navbutton-color" content="#00AEED">
<meta name="msapplication-TileColor" content="##001E4F">
<meta name="msapplication-TileImage" content="/img/universal/titlelesslogo.png">

<meta property="al:ios:app_name" content="FRC 5431">

<meta property="al:android:app_name" content="FRC 5431">

<meta name="ICBM" content="33.019843, -96.698886">
<meta name="geo.position" content="33.019843;-96.698886">
<meta name="geo.region" content="US, TX">
<meta name="geo.placename" content="Plano">

<meta name="renderer" content="webkit|ie-comp|ie-stand">

<meta property="og:type" content="website" />
<meta property="og:image" content="/img/universal/titlelesslogo.png" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:description" content="FRC 5431 Titan Robotics strives to develop student leaders by collaborating to solve complex problems.">
<meta property="og:site_name" content="frc5431.com">
<meta property="og:locale" content="en_US">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="FRC 5431">
<meta name="twitter:site" content="@frc5431">
<meta name="twitter:creator" content="@frc5431">
<meta name="twitter:description" content="FRC 5431 Titan Robotics strives to develop student leaders by collaborating to solve complex problems.">

<meta name="mobile-web-app-capable" content="yes">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600">
<link rel="stylesheet" href="main.css">

<link rel="icon" type="image/png" href="/img/universal/titlelesslogo.png" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<link rel="manifest" href="/manifest.json"/>
