<span id="nav-container" class="nav-bar">
    <a id="nav-bar-logo" href="/"><img  src="img/universal/5431Logo.png" draggable="false"></a>
    
    <input id="toggle" type="checkbox">
    
    <label class="toggle-container" for="toggle">
        <span class="button button-toggle"></span>
    </label>
    
    <nav class="nav-bar-content">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="about.html">About</a>
        <a class="nav-item" href="contact.html">Contact</a>
        <a class="nav-item" href="events.html">Events</a>
        <a class="nav-item" href="https://www.titanroboticsbc.org/about-titan-run">Robo Run</a>
    </nav>
</span>

